
<!-- 测试文件 -->
<launch>

    <!-- rviz显示机器人模型所需 -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <!-- 雷达坐标系 到 基坐标系 -->
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <!-- 可以保存 rviz 配置并后期直接使用 -->
    <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find slam)/rviz/amcl.rviz" />

    <!-- 运行地图服务器，并且加载设置的地图-->
    <include file="$(find slam)/launch/nav03_gmap_load.launch"/>    

    <!-- 启动AMCL节点 -->
    <include file="$(find slam)/launch/nav04_amcl.launch" />


</launch>
